.a1
{
	
	height:700px;
	width:100%;
	margin:0px auto;

}
.a2
{
	height:100px;
	width:100%;
	
}
.a2 img
{
	height:60px;
	margin-top:25px;
	margin-left:25px ;
}
.a2 ul 
{
	float:right;
	margin-top:25px;
}
.a2 ul li 
{
	display: inline;
	margin-right:40px;

}
.a2 ul li a
{
	text-decoration: none;
	font-size:18px;
	cursor: pointer;

}

.a2
{
	background-color:rgb(77, 77, 32)
}
.full p h3
{
   float:right;
   color:green;
}

/*#vv{
	position:fixed;
	right:0;
	min-width:80%;
	min-height: 50%;
	object-fit:cover;
	z-index:-1;
}*/

.heading
{
	height: 12em;
    position: relative }
    .heading {
    margin: 0;
   
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
	color: rgb(218, 218, 9);
	font-size:50px	;
	transform: translate(-50%, -50%) 

}
.icondetail
{
	margin-left:2%;
	float:left;
	height:30%;
	width:25%;
	margin-top:20px;

}
.container
{
	width:100%;
	height:auto;
	padding:1%;
}
.button1
{
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	    margin-left:50%;
}
.button1
{
	background-color:rgb(53, 128, 53);
}
.icondetail1
{
	margin-left:2%;
	float:left;
	height:30%;
	width:25%;
	margin-top:20px;
	margin-bottom:10px;

}
.container
{
	width:100%;
	height:auto;
	padding:1%;
}
.button2
{
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	    margin-left:50%;
}
.button2
{
	background-color:rgb(53, 128, 53);
}
.icondetail2
{
	margin-left:2%;
	float:left;
	height:30%;
	width:25%;
	margin-top:20px;
	margin-bottom:10px;
}
.container
{
	width:100%;
	height:auto;
	padding:1%;
}
.button3
{
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	    margin-left:50%;
}
.button3
{
	background-color:rgb(53, 128, 53);
}
.icondetail3
{
	margin-left:2%;
	float:left;
	height:30%;
	width:25%;
	margin-top:20px;
}
.container
{
	width:100%;
	height:auto;
	padding:1%;
}
.button4
{
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	    margin-left:50%;
}
.button4
{
	background-color:rgb(53, 128, 53);
}

footer{
	padding: 2rem 0;
	background-color: rgb(77, 77, 32);
	
}